<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启annotation扫描(包括类[class],方法[method],属性(attribute))-->
    <context:component-scan base-package="com.yuri.spring.annotation"/>

    <!--只会扫描attribute(属性)上面的annotation-->
    <context:annotation-config></context:annotation-config>

</beans>
